@font-face {
    font-family: 'Serenita';
    src: url('./../assets/fonts/Serenita.ttf');
}

#app {
    font-family: 'Sofia Sans Condensed', serif;
    min-height: 100vh;
    padding-bottom: 100px;
}

@media (max-width: 620px) {
    .view.cocktails {
        padding: 0 20px;
    }
}

h1 {
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    font-family: 'Serenita', serif;
}

.night hr {
    border-color: #689d9b;
}

.night .tooltip .tooltiptext {
    background-color: #689d9b;
    color: #0b2625;
}

.night .tooltip .tooltiptext::after {
    border-color: #689d9b transparent transparent transparent;
}

.day .tooltip .tooltiptext {
    background-color: #0b2625;
    color: #689d9b;
}

.day .tooltip .tooltiptext::after {
    border-color: #0b2625 transparent transparent transparent;
}

.day hr {
    border-color: #0b2625;
}

.day .form_toggle .item-1 input[type=radio]:checked + label {
    background-color: #0b2625;
}

.night .form_toggle .item-1 input[type=radio]:checked + label {
    background-color: #689d9b;
}

h2 {
    font-size: 35px;
    text-align: center;
    line-height: 60px;
    font-family: 'Serenita', serif;
}

.price {
    font-weight: 600;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}

.day .price {
    color: #0b2625;
}

.night .price {
    color: #689d9b;
}

hr {
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
}

ul li,
ol li {
    font-size: 25px;
}

ul {
    list-style-type: circle;
}

.view {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    width: 300px;
}

.random-block {
    width: 100%;
    margin-block: 30px;
}

.btn {
    margin: 0 auto;
    height: 60px;
    width: 150px;
    margin-block-end: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}

.clear-random {
    margin: 0 auto;
    display: block;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
}


.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.card {
    width: 400px;
    min-height: 250px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.card i {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 35px;
    cursor: pointer;
}


a {
    cursor: pointer;
}


.day {
    background-color: #689d9b;
}

.day h2, .day h1 {
    color: #0b2625;
}

.day .header {
    background-color: #0b2625;
}

.day p,
.day nav {
    color: #689d9b;
}

.day nav a:hover {
    text-shadow: 4px 4px 2px #689d9b8a;
}


.day .header svg {
    fill: #689d9b;
    stroke: #689d9b;
}


.day .btn {
    box-shadow: inset 0px 0px 5px 7px #0b2625;
    color: #0b2625;
}

.day .clear-random {
    color: #0b2625;
}

.day .card {
    border: 1px solid #0b2625;
    color: #0b2625;
}


.night {
    background-color: #0b2625;
}

.night .header {
    background-color: #689d9b;
    color: #0b2625;
}

.night nav {
    color: #0b2625;
}

.night nav a:hover {
    text-shadow: 4px 3px 3px #0b262591;
}

.night .header svg {
    fill: #0b2625;
    stroke: #0b2625;
}

.night .btn {
    box-shadow: inset 0 0 5px 7px #689d9b;
    color: #689d9b;
}

.clear-random {
    color: #689d9b;
}

.night h1, .night h2, .night h3 {
    color: #689d9b;
}

.night span,
.night .volume {
    color: #689d9b;
}

.card {
    border: 1px solid #689d9b;
}

.night .filter svg {
    fill: #689d9b;
    height: 30px;
}

.day .filter svg {
    fill: #0b2625;
    height: 30px;
}

@media (max-width: 430px) {
    .desktop {
        display: none;
    }

    .mobile .filter {
        flex-wrap: wrap;
    }

    .menubox {
        display: block;
        padding-inline: 20px;
    }

    .burger-menu .menubox .categories {
        gap: 0.5em;
    }

    .menubox h2 {
        font-size: 25px;
    }

}

@media (min-width: 430px) {
    .mobile {
        display: none;
    }
}

.night .menubox {
    background-color: #0b2625;
    box-shadow: 1px 0 6px #689d9b;
}
.form_toggle {
    margin-block: 30px;
    width: 100%;
    justify-content: center;
}
.day .menubox {
    background-color: #689d9b;
    box-shadow: 1px 0 6px #0b2625;
}

.night .menu-btn > span,
.night .menu-btn > span::before,
.night .menu-btn > span::after {
    background-color: #689d9b;

}

.day .menu-btn > span,
.day .menu-btn > span::before,
.day .menu-btn > span::after {
    background-color: #0b2625;
}

.night .form_toggle .item-1 input[type=radio]:checked + label {
    background: #689d9b;
    color: #0b2625;
}
.night .form_toggle .item-2 input[type=radio]:checked + label {
    background: #689d9b;
    color: #0b2625;
}

.day .form_toggle .item-1 input[type=radio]:checked + label {
    background: #0b2625;
    color: #689d9b;
}

.day .form_toggle .item-2 input[type=radio]:checked + label {
    background: #0b2625;
    color: #689d9b;
}

.night .form_toggle label {
    color: #689d9b;
}

.day .form_toggle label {
    color: #0b2625;
}

.night .form_toggle .item-2 label {
    border-right: 1px solid #689d9b;
}

.day .form_toggle .item-2 label {
    border-right: 1px solid #0b2625;
}
.night .form_toggle-item label {
    border: 1px solid #689d9b;
}
.day .form_toggle-item label {
    border: 1px solid #0b2625;
}